@font-face {
	font-family: normal;
	src:url(../fonts/FiraGO-regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: normal;	 
}
body {
	max-width: 1172px;
    margin: 0 auto;
    overflow-x: hidden;
}
header, ul {
    display: flex; 
}
header {
	display: flex;
    height: 101px;
    justify-content: space-between;
    align-items: center;     
}
.logo{
    margin-top: 18px;
}
.logo:hover{
     border-bottom:none;
}
.navigation{
    margin-top: 18px;
	font-size: 14px;
	width: 1030.24px;
    justify-content: space-between;
}
.navigation li a:hover{
    border-bottom: 2px solid #6CB43F;
}
.navigation a {   
    padding-bottom: 15px;
    color: #707070;
    transition: 300ms color ease;
}
.navigation a:hover {  
    cursor: pointer;   
    color: #BADC58;
    transition: 300ms color ease;
}

.dropbtn {
  padding-bottom: 20px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown { 
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}
.dropdown:hover{
    border-bottom: 2px solid  #BADC58;
    z-index: 1;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 1px 0px 0px rgba(1,0,0,0.2);
  z-index: 1;
  padding-top: 24px;
  background-color: #ffffff;
  padding: 24px 47px 16px 22px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
   color: #BADC58;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.search:hover{
    border-bottom: none;
} 

.language {
    background: #ffffff;
    margin-top: -20px;    
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    color: #798296;
}
.language:hover {
    color:#6CB43F;
}
.laguage_options, .search-mobile, .bar{
    display: none;
}
/* ------- menu bar dasrulda tavisi responsivit--------- */


.hero {
    display: flex;
    flex-direction: column;
    align-items: left;

}
.hero::before {
    content: '';
    height: calc(100vh - 140px);
    width: calc(100vh - 80px);
    display: block; 
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #00718E;
    opacity: 0.6;
    z-index: -1;
    margin-top: 50px;
}
.hero-img{
   position: absolute;
    top: 60px;
    height: calc(100vh - 140px);
    width: 110%;
    z-index: -2;
    left: 0;
    object-fit: cover;
    margin-top: 50px;
}
.hero-content{
    display: flex;
    flex-direction: column;
}

.hero-head{
    font-size: 30px;
    margin-top: 130px;
    color: #ffffff;
    width: 50%;
    line-height: 160%;
}

.hero-p{
    margin-top: 20px;
    color: #ffffff;
    width: 35%;
}
.details{
    display: flex;
    position: absolute;
    margin-top: 370px;
    padding-top: 15px ;
    padding-right: 4px;
    padding-bottom: 5px;
    padding-left: 25px;
    background: rgba(76, 175, 80, 0.3);
    color: #ffffff;
    border-radius: 25px;
    justify-content: center;
}
.details:hover{
     color: #ffffff;
     border-bottom: none;
}
.right{
    color:  #6CB43F;
    margin-left: 3px;
    background: #ffffff;
    padding-top:12.5px ;
    padding-right: 18.7px;
    padding-bottom: 12.9px;
    padding-left: 18.5px;
    border-radius: 40px;
    margin-top: -10px;
}
.right:hover{
     background: #6CB43F;
     color: #ffffff ;
}
.leftright{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 70px;
    margin-top: -6px;
    border: 1px 1px 1px 1px rgba(1,0,1,0.2);
    margin-top: 485px;
}
.lr:hover{
    border-bottom: none;
}
.section{
    margin-top: 250px;
    display: flex;
}



/*------------------------section 1 end----------------- */


.section-head{
   margin-top: 10px;
   color: #6CB43F;
}
.section-div{
    margin-left: 120px;

}
.section-p, .section-p1{
    font-size: 14px;
    color: #707070;
}
.client{
    text-align: center;
    color: #6CB43F;
    margin-top: 100px;
}

.client-menu{
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.list{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px 15px 50px;
    box-shadow: 0 1px 3px 0px #707070;
    border-radius: 5px;
}
.p{
    margin-top: 25px;
    text-align: center;
    color: #00718E;
}
.leftright2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 13px;
}

.list2{
    display: none;
}

@media only screen and (max-width: 1125px){

    .laguage_options, .search-mobile, .bar{
    display: block;
    cursor: pointer;
}
    .navigation{
        display: none;
    }    
    .nav-ul{
        margin-top: 10px;     
        display: flex;
    }
    .search-mobile{   
        right: 15px;
    }
     .bar{   
        margin-left: 20px;
        font-size: 25px;
        margin-right: 8px;
     }
     .search-mobile{
        margin-right: 20px;
     }
    .laguage_options{
        margin-top: -13px;    
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        color: #798296;
    }
    .logo{
        margin-left: 20px;
    }
    .hero{
        margin-left: 20px;
    }
    .hero-head{
        width:70%;
        margin-top: 100px;
    }
    .details{
        margin-top: 385px;
    }

    .leftright{
        right: 50px;
    }

    .section{
        margin-left: 20px;
    }


}
@media only screen and (max-width: 1092px){

    .client-menu{
        display: none;
    }

    .list2{            
        display:inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 35px 50px 35px 50px;
        box-shadow: 0 1px 3px 0px #707070;
        border-radius: 5px;
        margin-top: 15px;
    }

}



























/*
@media  (max-width: 1000px){

    body{
       max-width: none;
       margin-left: 15px;
       margin-right: 8px;
     }   
    .header-nav, .navigation{
       display: none;
    }
    .navbrar-m{
        margin-top: 10px;     
        display: flex;
    }
    .search-mobile, .bar{
        display: inline;
        right: 15px;
    }
     .bar{
        display: inline;
        margin-left: 20px;
        font-size: 25px;
        margin-right: 8px;
     }
     .search-mobile{
        margin-right: 20px;
     }
    .laguage_options{
        display: inline;
        margin-top: -20px;    
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        color: #798296;
    }
    .hero_img{
    position: absolute;
    top: 60px;
    height: calc(100vh - 140px);
    width: 100%;
    z-index: -2;
    left: 0;
    object-fit: cover;
    margin-top: 50px;
   }
   .hero::before {
    content: '';
    height: calc(100vh - 140px);
    width: calc(100vh - 60vh);
    display: block; 
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #00718E;
    opacity: 0.6;
    z-index: -1;
    margin-top: 50px;
    }
    .hero-head{
    line-height: 140%;
    font-size: 20px;
    width: 100%;
    margin-top: 80px;
    }

    .hero-p{
    margin-top: 18px;
    width: 100%;
    font-size: 13px;
    }
    .details{
        margin-top: 200px;
    }
    .leftright{
        right: 6px;
    }
    .search-mobile,.bar{
        display: inline;
    }
    .section-div{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .section-p, .section-p2, .section-h2{
        margin-left: 2%;
        text-align: center;
    }
    .section-h2{
        margin-bottom: 40px;
    }

    .svg{
        display: none;
    }
    }
    .client-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .leftright2{
        margin-left:33%;
    }

}